<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>@ViewBag.Title - ION Group Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link rel="stylesheet" href="~/Utilities/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/Utilities/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Poppins-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,600">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/Utilities/css/style.default.css" id="theme-stylesheet">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Utilities/img/favicon.png">

    <script src="~/Utilities/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/HomePage/Scripts/jquery-Login.js"></script>

</head>
<body>
    <div id="pageDiv">
        @Html.Partial("_Header")
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
</body>
</html>
